body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

p {
  text-align: left;
  margin: 0;
}

h4{
  margin: 0;
}

ul {
  list-style: none;
}

.mr-30{
  margin-right: 30px !important;
}

.ml-5{
  margin-left: 5px !important;
}